.accounts-grid {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  column-gap: 100px;
  row-gap: 20px;
  z-index: 1000;
  justify-content: flex-start;
  max-width: 1400px;
}
.character-card {
    flex: 0 1 250px;
    width: 250px;
    height: 475px;
    padding: 16px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(255,255,255,0.9);
    z-index: 1000;
}
.character-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}
.card-header-img {
    width: 100%;
    height: 60px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-bottom: 8px;
}
.character-card h3 {
    font-size: 1.2rem;
}
.character-card p {
    font-size: 1rem;
}
.character-card:hover {
  transform: translateY(-10px);
  z-index: 1000;
}
body{
    margin-left: 125px;
    line-height: 12.5px;
}
.pagebackground {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/pagebackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    z-index: -100;
    pointer-events: none;
}